<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/show.css" />
<%- include('../partials/nav') %>

<main>
  <h2>Flight Details</h2>
  <h3><%= flight.airline %>, <%= flight.airport %> </h3>
  <p>Flight Number: <%= flight.flightNo %> </p>
  <p>Departs: <%= flight.departs %> </p>
  <p>Tickets: <%= flight.tickets %> </p>
</main>


<%- include('../partials/footer') %>
